.container {
    width: 900px;
    border: 10px solid black;
    box-sizing: border-box;
    margin: 30px auto;
    padding: 10px;
    height: 150px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: center; */
}

.container div {
    flex-grow: 1;
    background-color: black;
}